.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

OPC_UA/opc_client.log

# Local History for Visual Studio Code
.history/
*.pyc
**/__pychache__/
